/* @import "https://use.fontawesome.com/releases/v5.5.0/css/all.css"; */
/* body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(https://i.ibb.co/CzMQJ6y/3.png) no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
} */


.login-box{
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5%;
  width: 300px;
  color: white;

}

.login-box h1{
  float: left;
  font-size: 22px;
  border-bottom: 3px solid #1670f0;
  margin-bottom: 30px;
  padding: 13px 0;


}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 4px 0;
  margin: 8px 0;
  border-bottom: 1px solid #1670f0;
}

.textbox i{
  width: 26px;
  float: left;
  text-align: center;
}

.textbox input{
  border: none;
  outline: none;
  background: none;
  color: white;
  font-size: 18px;
  width: 80%;
  float: left;
  margin: 0 5px;
}

::placeholder{
    color: rgb(177, 177, 177);
}

.boton-inicio{
  width: 100%;
  border: 1px solid #1670f0;
  color: #1670f0;
  background: none;
  padding: 10px 30px;
  font-size: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
  text-decoration: none;
  outline: none;
}

.boton-inicio:hover{
box-shadow: 0px 2px 2px rgba(0, 128, 255, 0.5);
color: #9ec6ff;
outline: none;
}

.boton-inicio:focus{
    color: white;
    outline: none;
}

a {
    color: white;
}



/* INPUTS */
  .group {
    padding: 10px;

  }
  
  .login-label {
    position: relative;
    top: -33px;
    left: 5px;
    color: rgba(255, 255, 255, 0.5);
    font: 16px;
    cursor: text;
    pointer-events: none;
    transition: 0.25s ease;
  }
  
  .login-input {
    display: block;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    border: none;
    border-radius: 0;
    color: white;
    background: rgba(255, 255, 255, 0);
    font-size: 14px;
    transition: 0.3s ease;
    border-bottom: 1px solid #1670f0;


  }

  .login-input:valid ~ label {
    top: -60px;
    font: 14px;
    color: rgba(255, 255, 255, 1);
    
  }

  .login-input:focus {
    outline: none;
  }

  .login-input:focus ~ label {
    top: -60px;
    font: 14px;
    color: #2196f3;
  }

  .login-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: white !important;
  }
  

  