body {
    background-color: #333;

}
.fondo-primario{
    background-color: #01000f;
}

.fondo-secundario{
    background-color: #1362a3;
}

.color-primario{
    color: #01000f;
}

.color-secundario{
    color: #1362a3;
}

.boton-primario{
    border-radius: 0;
    color: #01000f;
    background-color: #D1913C; /*color de boton primario plano */
    /* background-image: linear-gradient(to top, #D1913C 0%, #FFD194); */
    border-color: #D1913C;
}

.boton-primario:hover{
    background-image: linear-gradient(to top, #D1913C 20%, #FFD194);
}

.boton-primario:focus{
    box-shadow: 0 0 0 0.2rem rgba(209, 145, 34, 0.4);
}

.boton-secundario{
    border-radius: 0;
    color: #FFD194;
    background-color: #01000f;
    border-color: #01000f;
}

.boton-secundario:hover{
    background-color: #01000f;
    color: #FFD194;
}

.boton-secundario:focus{
    box-shadow: 0 0 0 0.2rem rgba(3, 1, 44, 0.4);
}
