.home a{
    color:rgb(162, 192, 194);
}

.home a:hover{
    color: white;
    outline: none;
    border: none;
}

.image-home {
    height: 200px;
}

.lista-linkedin li{
    padding: 5px;
}

.boton-linkedin{
    color: rgb(162, 192, 194);
    cursor: pointer;
}

.boton-linkedin:hover{
    color: grey;
    text-decoration: none;
}

