
.navbar-color {
    background-color: #1362a3;
    color: white;
    padding: 0;
    height: 65px;
    /* background-image: linear-gradient(to top, #87a5a1 0%, #0b5249); */
}

.link-nav-custom{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100px;
}

.link-nav-custom:hover{
    color: rgb(207, 207, 207);
}

.link-nav-custom:hover{
    background-color: #0d6fbe;
}

.foto-perfil {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid white;
    overflow: hidden;
}

.foto-perfil>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dropdown-perfil{
    color: white;
}
