.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1rem;
}
     
.card { 
    border: 2px solid #505050;
    background-color: #3e3e3e;
    text-align: center;
}

.card p {
    color: white;
}

.name-set{
    border-bottom: 1px solid #505050;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.menu-icons{
    background-color: #505050;
}

.menu-icons span {
    font-size: 23px;
    cursor: pointer;
}

.menu-icons span:hover {
    color: #1a90ff;
}

.color-icons-selected {
    color: #1a90ff;
}
