/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */

.sidebar_section{
    background-color: #1362a3;
    color: white;
    min-height: 100vh;
    padding: 5px;
    margin: 0px 10px;
    display: flex;
    flex-direction: column;
}
